body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Consolas', 'DejaVu Sans Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

/* HEADER SECTION */
.header-section {
    display: flex;
    width: 98%;
    padding: 10px;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
}

.header-section h2 {
    margin: 0;
}

/* PIECHARTS AND BALANCE HISTORY SECTION */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    height: 50%;
}


/* _PIECHARTS GROUP */
/* titles */
.chart-title {
    font-size: 3vh;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 5px;
}

/* piechart divs */
.pie-chart {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.chart-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* __piechart canvas */
.pie-chart canvas {
    max-width: 100%;
    height: auto;
}

/* if we only show 1 */
.single {
    width: 40%;
    justify-content: center;
    margin: auto;
}

/* if we show 3 */
.group {
    width: 33%;
}

/* BALANCE HISTORY GRAPH */
.balance-history {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* balance history canvas */
.balance-history canvas {
    width: 100%;
    height: auto;
}


/* TABLE CONTAINER */
.table-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #222;
}

td {
    font-size: 14px;
}

.text-verde {
    color: rgb(48, 240, 48);
}

.text-rojo {
    color: red;
}

.cold {
    color: rgb(192, 192, 255);
    text-align: center;
}


@media (max-width: 768px) {
    .header-section {
        display: none;
    }

    .top-section {
        flex-direction: column;
        height: 40%;
    }
    .tgroup{
        height: 40%;
    }
    .tsingle{
        height: 60%;
    }

    .chart-section, .balance-history {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .chart-title {
        font-size: 2vh;
    }

    .table-container {
        width: 100%;
    }

    table {
        font-size: 1.6vh;
    }

    th, td {
        padding: 6px;
    }
}

@media (max-width: 480px) {
    .header-section {
        display: none;
    }

    .chart-title {
        font-size: 1.5vh;
    }

    .pie-chart {
        width: 80%;
    }

    table {
        font-size: 1vh;
    }

    th, td {
        padding: 4px;
        font-size: 1vh;
    }
}